/* breakpoints */
.search-results {
  /* breakpoints */
  background-color: transparent;
  color: #5e5e5e;
  border-radius: 5px;
  padding: 15px 0 0 0;
}

.search-results label {
  background: transparent;
  color: #5e5e5e;
}

.search-results button, .search-results input[type="button"] {
  padding: 12px 50px;
}

.search-results input {
  padding: 12px 10px;
}

.search-results input, .search-results button {
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: #f7f7f7;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  line-height: 14px;
  color: #5e5e5e;
  font-weight: normal;
  clear: both;
  height: auto;
  font-size: 12px;
}

.search-results input:focus, .search-results button:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
}

.search-results input::-moz-focus-inner, .search-results button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search-results input[type="text"] {
  font-size: 12px;
}

.search-results textarea, .search-results select {
  box-shadow: none;
  color: #5e5e5e;
  width: 100%;
}

.search-results select {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.search-results input[type="checkbox"] {
  position: absolute;
  left: -99999px;
}

.search-results input[type="checkbox"]:checked {
  padding: 10px;
}

.search-results input[type="checkbox"]:checked ~ label:before {
  background-color: #fff;
}

.search-results input[type="checkbox"]:checked ~ label:after {
  background: url("../images/checked.png") 0 0 no-repeat;
  background-position: -2px -2px;
}

.search-results input[type="checkbox"] ~ label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.search-results input[type="checkbox"] ~ label:after, .search-results input[type="checkbox"] ~ label:before {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  display: inline-block;
  background-color: #fff;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  left: -20px;
  top: 0;
  margin-right: 3px;
}

.search-results input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  width: 95%;
  font-weight: bold;
  padding: 2px;
}

.search-results input[type="file"] + span {
  display: inline-block;
  vertical-align: middle;
}

.search-results input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-results input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.search-results input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  left: 0;
}

.search-results input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 15px;
  background: url("../images/radiobox.png");
  left: 0;
}

.search-results input[type="radio"]:checked + label:after {
  background-position: -16px 0;
}

.search-results input[type="radio"] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  margin-left: 5px;
  position: relative;
}

.search-results.vertical .search-result-list {
  padding: 0 15px 0 15px;
}

.search-results.vertical .search-result-list > li {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.search-results.vertical .search-result-list > li .field-title {
  display: block;
  margin-bottom: 10px;
}

.search-results.vertical .search-result-list > li .field-title a {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #969696;
}

.search-results.vertical .search-result-list > li .field-content {
  font-size: 12px;
}

.search-results.vertical .search-result-list > li a img {
  max-width: 100%;
  height: auto;
}

.search-results.vertical .search-result-list > li:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d6d6d6;
}

.search-results.horizontal .search-result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.search-results.horizontal .search-result-list:after {
  content: "";
  display: table;
  clear: both;
}

.search-results.horizontal .search-result-list:after {
  display: none;
}

.search-results.horizontal .search-result-list > li {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  background-color: #f7f7f7;
  position: relative;
  min-height: 230px;
  margin-bottom: 30px;
  min-width: 21%;
  max-width: 21%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

.search-results.horizontal .search-result-list > li .field-title {
  display: block;
  padding: 0 5px;
  text-align: center;
}

.search-results.horizontal .search-result-list > li .field-title a {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 600;
}

.search-results.horizontal .search-result-list > li a img {
  max-width: 100%;
  height: auto;
}

.search-results.horizontal .search-result-list > li:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d6d6d6;
}

.search-results .search-results-overlay {
  display: none;
}

.search-results.loading-in-progress {
  min-height: 200px;
}

.search-results.loading-in-progress .search-result-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.search-results.loading-in-progress .search-result-overlay:after {
  content: "";
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+CiAgPHBhdGggIG9wYWNpdHk9Ii4yNSIgZD0iTTE2IDAgQTE2IDE2IDAgMCAwIDE2IDMyIEExNiAxNiAwIDAgMCAxNiAwIE0xNiA0IEExMiAxMiAwIDAgMSAxNiAyOCBBMTIgMTIgMCAwIDEgMTYgNCIvPgogIDxwYXRoIGZpbGw9JyNkZGRkZGQnIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMSAzMiAxNiBMMjggMTYgQTEyIDEyIDAgMCAwIDE2IDR6Ij4KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvcGF0aD4KPC9zdmc+);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  right: 0;
  margin: -30px auto 0;
}

.search-results.loading-more-in-progress:after {
  content: "";
  display: block;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  height: 100px;
}

.search-results .no-results {
  padding: 5px;
}

@media only screen and (max-width: 992px) {
  .search-results.horizontal .search-result-list > li {
    min-width: 45%;
    max-width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .search-results.horizontal .search-result-list > li {
    min-width: 95%;
    max-width: 95%;
  }
}

@media only screen and (max-width: 576px) {
  .search-results.horizontal .search-result-list > li {
    min-width: 100%;
    max-width: 100%;
  }
}
