/* breakpoints */
.form {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin: 10px 0;
  font-size: 14px;
  overflow: hidden;
  /* breakpoints */
}

.form table {
  width: 100%;
}

.form label {
  background: transparent;
  color: #5e5e5e;
}

.form button, .form input[type="button"] {
  padding: 12px 50px;
}

.form input {
  padding: 12px 10px;
}

.form input, .form button {
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: #f7f7f7;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  line-height: 14px;
  color: #5e5e5e;
  font-weight: normal;
  clear: both;
  height: auto;
  font-size: 12px;
}

.form input:focus, .form button:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
}

.form input::-moz-focus-inner, .form button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form input[type="text"] {
  font-size: 12px;
}

.form textarea, .form select {
  box-shadow: none;
  color: #5e5e5e;
  width: 100%;
}

.form select {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.form input[type="checkbox"] {
  position: absolute;
  left: -99999px;
}

.form input[type="checkbox"]:checked {
  padding: 10px;
}

.form input[type="checkbox"]:checked ~ label:before {
  background-color: #fff;
}

.form input[type="checkbox"]:checked ~ label:after {
  background: url("../images/checked.png") 0 0 no-repeat;
  background-position: -2px -2px;
}

.form input[type="checkbox"] ~ label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.form input[type="checkbox"] ~ label:after, .form input[type="checkbox"] ~ label:before {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  display: inline-block;
  background-color: #fff;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  left: -20px;
  top: 0;
  margin-right: 3px;
}

.form input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  width: 95%;
  font-weight: bold;
  padding: 2px;
}

.form input[type="file"] + span {
  display: inline-block;
  vertical-align: middle;
}

.form input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.form input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  left: 0;
}

.form input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 15px;
  background: url("../images/radiobox.png");
  left: 0;
}

.form input[type="radio"]:checked + label:after {
  background-position: -16px 0;
}

.form input[type="radio"] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  margin-left: 5px;
  position: relative;
}

.form .scfRequired {
  display: none !important;
}

.form input[type="checkbox"], .form input[type="radio"] {
  left: auto;
}

.form .scfSectionContent > div:hover [class$="GeneralPanel"] > [class$="UsefulInfo"] {
  opacity: 1;
}

.form .scfSectionContent > div [class$="UsefulInfo"] {
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
  opacity: 0;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  left: 0px;
  top: -15px;
  padding: 4px 8px;
  max-width: 98%;
  width: auto;
}

.form .scfSectionContent .scfCaptchaLimitGeneralPanel, .form .scfSectionContent .scfCaptchStrongTextPanel {
  max-width: 100%;
  width: auto;
}

.form .scfSectionContent .scfCaptchaLabel {
  display: none;
}

.form .scfSectionContent .scfSectionContent .scfCaptchaGeneralPanel embed {
  max-width: 180px;
}

.form .scfSectionContent input[type="image"] {
  border: none;
}

.form .scfSectionContent .scfListBox {
  background: none;
  max-height: none;
}

.form .scfSectionContent .scfDateSelectorDay, .form .scfSectionContent .scfDateSelectorMonth, .form .scfSectionContent .scfDateSelectorYear {
  width: 30%;
}

.form .form.hints-below .scfSectionContent [class$="UsefulInfo"] {
  position: static;
  opacity: 1;
  max-width: 100%;
  width: 100%;
  margin: 5px 0 0 5px;
}

.form .form.labels-above label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
}

.form .form.labels-above .scfEmailGeneralPanel, .form .form.labels-above .scfMultipleLineGeneralPanel, .form .form.labels-above .scfSingleLineGeneralPanel, .form .form.labels-above .scfPasswordGeneralPanel, .form .form.labels-above .scfNumberGeneralPanel, .form .form.labels-above .scfDatePickerGeneralPanel, .form .form.labels-above .scfListBoxGeneralPanel, .form .form.labels-above .scfDropListGeneralPanel, .form .form.labels-above .scfDateGeneralPanel, .form .form.labels-above .scfRadioButtonListGeneralPanel, .form .form.labels-above .scfCheckBoxListGeneralPanel, .form .form.labels-above .scfFileUploadGeneralPanel, .form .form.labels-above .scfDateSelectorGeneralPanel, .form .form.labels-above .scfCreditCardGeneralPanel, .form .form.labels-above .scfConfirmPasswordGeneralPanel, .form .form.labels-above .scfCaptchaGeneralPanel, .form .form.labels-above .scfTelephoneGeneralPanel, .form .form.labels-above .scfSmsTelephoneGeneralPanel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 93%;
}

.form .form.labels-above .scfSectionContent .scfRequired {
  margin: 0 5px;
}

.form .form.labels-above .scfMultipleLineGeneralPanel {
  width: 95%;
}

.form .form.labels-above .scfMultipleLineTextBox {
  margin: 0 0 0 5px;
}
