/* breakpoints */
.sitecore-form {
  /* breakpoints */
  padding: 15px 15px 15px 15px;
}

.sitecore-form label {
  background: transparent;
  color: #5e5e5e;
}

.sitecore-form button, .sitecore-form input[type="button"] {
  padding: 12px 50px;
}

.sitecore-form input {
  padding: 12px 10px;
}

.sitecore-form input, .sitecore-form button {
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: #f7f7f7;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  line-height: 14px;
  color: #5e5e5e;
  font-weight: normal;
  clear: both;
  height: auto;
  font-size: 12px;
}

.sitecore-form input:focus, .sitecore-form button:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
}

.sitecore-form input::-moz-focus-inner, .sitecore-form button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sitecore-form input[type="text"] {
  font-size: 12px;
}

.sitecore-form textarea, .sitecore-form select {
  box-shadow: none;
  color: #5e5e5e;
  width: 100%;
}

.sitecore-form select {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.sitecore-form input[type="checkbox"] {
  position: absolute;
  left: -99999px;
}

.sitecore-form input[type="checkbox"]:checked {
  padding: 10px;
}

.sitecore-form input[type="checkbox"]:checked ~ label:before {
  background-color: #fff;
}

.sitecore-form input[type="checkbox"]:checked ~ label:after {
  background: url("../images/checked.png") 0 0 no-repeat;
  background-position: -2px -2px;
}

.sitecore-form input[type="checkbox"] ~ label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.sitecore-form input[type="checkbox"] ~ label:after, .sitecore-form input[type="checkbox"] ~ label:before {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  display: inline-block;
  background-color: #fff;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  left: -20px;
  top: 0;
  margin-right: 3px;
}

.sitecore-form input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  width: 95%;
  font-weight: bold;
  padding: 2px;
}

.sitecore-form input[type="file"] + span {
  display: inline-block;
  vertical-align: middle;
}

.sitecore-form input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sitecore-form input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.sitecore-form input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  left: 0;
}

.sitecore-form input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 15px;
  background: url("../images/radiobox.png");
  left: 0;
}

.sitecore-form input[type="radio"]:checked + label:after {
  background-position: -16px 0;
}

.sitecore-form input[type="radio"] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  margin-left: 5px;
  position: relative;
}

.sitecore-form > .component-content {
  padding: 15px 15px 15px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: #f7f7f7;
  color: #5e5e5e;
  border-radius: 5px;
}

.sitecore-form form {
  font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #5e5e5e;
}

.sitecore-form form > div {
  padding: 15px 0 15px 0;
}

.sitecore-form form > div label {
  font-family: inherit;
  padding-right: 15px;
}

.sitecore-form form > div input {
  font-family: inherit;
}

.sitecore-form form > div label + textarea {
  margin-top: 15px;
}

.sitecore-form form > div textarea,
.sitecore-form form > div select {
  margin-top: 15px;
}

.sitecore-form form [data-sc-field-name="Password Confirmation"] {
  margin-right: 15px;
}

.sitecore-form .form.hints-below .scfSectionContent [class$="UsefulInfo"] {
  position: static;
  opacity: 1;
  max-width: 100%;
  width: 100%;
  margin: 5px 0 0 5px;
}

.sitecore-form .form.labels-above label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
}

.sitecore-form .form.labels-above .scfEmailGeneralPanel, .sitecore-form .form.labels-above .scfMultipleLineGeneralPanel, .sitecore-form .form.labels-above .scfSingleLineGeneralPanel, .sitecore-form .form.labels-above .scfPasswordGeneralPanel, .sitecore-form .form.labels-above .scfNumberGeneralPanel, .sitecore-form .form.labels-above .scfDatePickerGeneralPanel, .sitecore-form .form.labels-above .scfListBoxGeneralPanel, .sitecore-form .form.labels-above .scfDropListGeneralPanel, .sitecore-form .form.labels-above .scfDateGeneralPanel, .sitecore-form .form.labels-above .scfRadioButtonListGeneralPanel, .sitecore-form .form.labels-above .scfCheckBoxListGeneralPanel, .sitecore-form .form.labels-above .scfFileUploadGeneralPanel, .sitecore-form .form.labels-above .scfDateSelectorGeneralPanel, .sitecore-form .form.labels-above .scfCreditCardGeneralPanel, .sitecore-form .form.labels-above .scfConfirmPasswordGeneralPanel, .sitecore-form .form.labels-above .scfCaptchaGeneralPanel, .sitecore-form .form.labels-above .scfTelephoneGeneralPanel, .sitecore-form .form.labels-above .scfSmsTelephoneGeneralPanel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 93%;
}

.sitecore-form .form.labels-above .scfSectionContent .scfRequired {
  margin: 0 5px;
}

.sitecore-form .form.labels-above .scfMultipleLineGeneralPanel {
  width: 95%;
}

.sitecore-form .form.labels-above .scfMultipleLineTextBox {
  margin: 0 0 0 5px;
}
