@charset "UTF-8";
/* breakpoints */
.navigation {
  background: #b3b3b3;
  padding-left: 0;
  padding-right: 0;
}

.navigation .level1 > .navigation-title > a,
.navigation .level0 > .navigation-title > a {
  font-size: 12px;
  padding-right: 15px;
}

.navigation .level1 > .navigation-title > a:hover,
.navigation .level0 > .navigation-title > a:hover {
  text-decoration: none;
}

.navigation .level1:last-child a,
.navigation .level0:last-child a {
  border-bottom-color: transparent;
}

.navigation a {
  color: #ffffff;
}

.lt-ie9 .navigation a,
.lt-ie9 .navigation a span {
  color: #ffffff;
}

.navigation a:focus, .navigation a:hover {
  color: #ffffff;
}

.navigation li.submenu {
  margin-bottom: 0;
}

.navigation li > .navigation-title > a {
  padding: 15px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}

.navigation li > ul a {
  font-size: 12px;
}

.navigation .submenu > ul {
  padding-left: 10px;
}

/* breakpoints */
.navigation.navigation-fat {
  background: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  padding: 15px 15px 15px 15px;
}

.navigation.navigation-fat a {
  text-decoration: none;
}

.navigation.navigation-fat nav > ul {
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
}

.navigation.navigation-fat .rel-level1 {
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}

.navigation.navigation-fat .rel-level1.submenu ul a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  content: "";
  top: 50%;
  left: -9px;
  font-size: 10px;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #d6d6d6;
  border-bottom: 0;
  background: #b3b3b3;
  padding: 15px;
  display: block;
  width: auto;
  background: #5e5e5e;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #474747;
}

.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}

.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/* breakpoints */
.navigation.navigation-main {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.navigation.navigation-main .component-content > nav {
  position: relative;
  background-color: #b3b3b3;
}

.navigation.navigation-main .component-content > nav .toggledNav {
  padding-right: 37px;
}

.navigation.navigation-main .component-content > nav .sxaToogleNav {
  position: relative;
  padding-right: 37px;
}

.navigation.navigation-main .component-content > nav .sxaToogleNavBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 37px;
  text-align: center;
}

.navigation.navigation-main .component-content > nav .sxaToogleNavBtn:hover {
  background-color: #969696;
}

.navigation.navigation-main .component-content > nav .sxaToogleNavBtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
}

.navigation.navigation-main .sxaWrappedList {
  position: absolute;
  top: 120%;
  right: 0;
  width: auto;
  z-index: 999;
  border-radius: 4px;
  background-color: #b3b3b3;
}

.navigation.navigation-main .sxaWrappedList > li {
  min-width: 100%;
}

.navigation.navigation-main .sxaWrappedList ul {
  padding-left: 0;
}

.navigation.navigation-main .sxaWrappedList ul li {
  min-width: 100%;
  max-width: 100%;
}

.navigation.navigation-main .sxaWrappedList .rel-level1 {
  font-weight: bold;
}

.navigation.navigation-main .sxaWrappedList .rel-level1 > ul {
  width: auto !important;
  position: absolute;
  right: 102% !important;
  top: 0;
  left: auto !important;
  border-right-width: 0 !important;
}

.navigation.navigation-main .sxaWrappedList .rel-level2 > ul {
  display: none;
  top: 0 !important;
  background-color: #5e5e5e;
  right: 102% !important;
  width: 100%;
  left: auto !important;
  border-radius: 5px;
}

.navigation.navigation-main .sxaWrappedList .rel-level2 > ul > li {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  max-width: 25%;
  padding: 10px;
}

.navigation.navigation-main .sxaWrappedList .rel-level2 > ul > li:hover {
  background-color: #474747;
}

.navigation.navigation-main .sxaWrappedList .rel-level2.show > ul {
  display: block;
}

.navigation.navigation-main .component-content > nav {
  position: relative;
}

.navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.navigation.navigation-main .level2 > ul {
  position: absolute;
}

.navigation.navigation-main .rel-level1:last-child > .navigation-title:after {
  display: none;
}

.navigation.navigation-main .rel-level1.no-child:hover {
  background-color: #5e5e5e;
}

.navigation.navigation-main .rel-level1 > .navigation-title {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
}

.navigation.navigation-main .rel-level1 > .navigation-title:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  height: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-width: 0 4px 0 0;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 4px 0 0 0;
  border-color: transparent;
}

.navigation.navigation-main .rel-level1 > ul {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 100%;
  background: #969696;
  margin-left: 0;
}

.navigation.navigation-main .rel-level1.show {
  background-color: #969696;
}

.navigation.navigation-main .rel-level1.show > a + ul {
  display: block !important;
}

.navigation.navigation-main .rel-level1.show > ul {
  display: block !important;
  min-width: 60px;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a:link,
.navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #ffffff;
}

.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
}

.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}

.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  background: #5e5e5e;
}

.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #ffffff;
}

.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image > a,
.navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}

.navigation.navigation-main.navigation-main-horizontal nav {
  width: 100%;
}

.navigation.navigation-main.navigation-main-horizontal nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation.navigation-main.navigation-main-horizontal nav > ul > li {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  float: left;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #969696;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2:hover {
  background-color: #5e5e5e;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 > ul {
  display: none;
  top: 100%;
  background-color: #5e5e5e;
  left: 0;
  right: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 > ul > li {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  max-width: 25%;
  padding: 10px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 > ul > li:hover {
  background-color: #474747;
}

.navigation.navigation-main.navigation-main-vertical nav {
  width: 100%;
}

.navigation.navigation-main.navigation-main-vertical nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation.navigation-main.navigation-main-vertical nav > ul li {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.navigation.navigation-main.navigation-main-vertical nav > ul li ul {
  padding-left: 0;
  display: none;
}

.navigation.navigation-main.navigation-main-vertical nav > ul li.show > ul {
  display: inline;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  width: auto;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul > li {
  padding: 5px 10px;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 {
  position: relative;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 > ul {
  left: 100%;
  top: 0;
  width: 100%;
  background-color: #5e5e5e;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 > ul > li {
  padding: 5px 0;
}

.navigation.navigation-main.navigation-main-vertical .rel-level2 > ul > li:hover {
  background-color: #474747;
}

/* breakpoints */
.navigation.navigation-mobile {
  padding-left: 0;
  padding-right: 0;
}

.navigation.navigation-mobile ul {
  padding-left: 0;
}

.navigation.navigation-mobile .submenu > .navigation-title {
  position: relative;
}

.navigation.navigation-mobile .submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background: #b3b3b3;
}

.navigation.navigation-mobile .rel-level1.active {
  background: #969696;
}

.navigation.navigation-mobile .rel-level1 > ul {
  display: none;
  background: #969696;
}

.navigation.navigation-mobile .rel-level1 > ul li {
  position: relative;
  color: #ffffff;
  padding-left: 0;
}

.navigation.navigation-mobile .rel-level1.submenu.active > .navigation-title:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1.submenu.active > ul {
  display: block;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title {
  position: relative;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: #ffffff;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title {
  margin: 0;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title a {
  border-bottom-width: 0;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}

.navigation.navigation-mobile .rel-level1 .navigation-title {
  padding: 15px;
}

.navigation.navigation-mobile .rel-level1 .navigation-title > a {
  text-decoration: none;
  color: #ffffff;
  padding: 0;
  display: inline;
}

.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
}

.navigation.navigation-mobile .rel-level2.active {
  background-color: #5e5e5e;
}

.navigation.navigation-mobile .rel-level2 ul {
  display: none;
}

/* breakpoints */
.navigation.navigation-sidebar a {
  text-decoration: none;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title {
  margin-bottom: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title > a {
  display: block;
  position: relative;
  z-index: 1;
  margin-right: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > ul {
  margin-left: 10px;
  margin-top: 5px;
}

.navigation.navigation-sidebar nav > ul .rel-level2 {
  display: block;
}

/* breakpoints */
.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}

.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%) scale(1, -1);
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "";
  top: 50%;
  left: -8px;
}
