/* breakpoints */
.field-editor {
  background: #f7f7f7;
  overflow: hidden;
  padding: 15px 15px 15px 15px;
}

.field-editor > .component-content {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  background-color: #f7f7f7;
  color: #5e5e5e;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  font-size: 12px;
}

.field-editor > .component-content table {
  word-wrap: break-word;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.field-editor > .component-content table tbody {
  border: none;
  background: none;
}

.field-editor > .component-content table tbody tr {
  background: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}

.field-editor > .component-content table tbody tr:last-child {
  border-color: transparent;
}

.field-editor > .component-content table tbody tr th,
.field-editor > .component-content table tbody tr td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
}

.field-editor > .component-content table tbody tr th {
  color: #5e5e5e;
}

.field-editor > .component-content table tbody tr td {
  color: #5e5e5e;
}

.field-editor > .component-content table tbody tr td:first-child {
  width: 25%;
  font-weight: 600;
}

.field-editor.position-right .field-table td {
  text-align: right;
}

.field-editor.position-center .field-table td {
  text-align: center;
}
