/* breakpoints */
.divider {
  width: 100%;
}

.divider hr {
  margin: 15px 0;
  border: 0;
  height: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #cccccc;
}

.white-space-divider hr {
  border: none;
}
