<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Navigation" description="Identity content" dependencies="Foundation.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
          <predicate>
            <include name="Identity.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Experience Accelerator/Navigation" />
            <include name="Identity.Templates" database="master" path="/sitecore/templates/Feature/Experience Accelerator/Navigation" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>