<div class="row-fluid">
    <div class=" span8 offset2">
        <!-- Search -->
        <div class="search">
            <div class="qs_s">

                <form method="get" action="https://www.greenstreetcoffee.com" role="search">
                    <input type="text" name="s" id="query" placeholder="Search…" autocomplete="off" value="">
                    <input type="submit" value="Search" id="searchsubmit">
                    <input type="hidden" value="product" name="post_type">
                </form>

                <!-- Autocomplete results -->
                <div id="autocomplete-results">

                </div>
                <!-- End id="autocomplete-results" -->



            </div>
        </div>
        <!-- End class="search"-->
    </div>



    <div class="span2">
        <!-- Mini cart -->
        <div class="mini-cart">
            <a href="https://www.greenstreetcoffee.com/cart" title="Cart">
                <span>0</span>
            </a>
        </div>
        <!-- End class="mini-cart" -->

    </div>

</div>